user_uuid = "d90c2c77-335f-4dbd-8531-0e681c2a66df"
bucket_name = "l4vvws1pvepnubd9ty9gx56u3hopdp0c"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2